<div class="row">
  <div class="col-md-12 bold text-center">
    Tipo de Acceso
  </div>
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-danger other">Rut</button>
      <button type="button" class="btn btn-secondary other">Email</button>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <br/>
    <p><span class="bold">Login: </span><span>123456789</span></p>
  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Contraseña">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Confirme Contraseña">
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">

    <button class="btn"  (click)="bacStep()">Volver</button>
    <button class=" btn btn-danger" (click)="nexStep()">Siguiente</button>
  </div>
</div>
