
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Apellido">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Rut">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Apellido Paterno">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Teléfono">
    </div>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn">Volver</button>
    <button class=" btn btn-danger" (click)="nexStep()">Siguiente</button>
  </div>
</div>
