<div class="col-md-8 offset-md-2">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Confirme Contraseña">
  </div>
</div>
<div class="col-md-10 offset-md-1">
<small>  El PIN único es el código que se le entregó cuando adquirió sus servicios. Si no lo sabe contacte a su proveedor o
         comuníquese al chat de soporte.</small>
</div>
<div class="col-md-12 text-center">
  <br/>
  <button class="btn" (click)="bacStep()">Volver</button>
  <button class=" btn btn-danger" (click)="nexStep()">Siguiente</button>
</div>
